.container {
    margin-top: 15%;
    margin: auto;
    width: 30%;
    padding: 50px;
    background-color: white;
    padding-inline-start: 30px;
}

.title {
    font-size: 20px;
    text-align: center;
    color: white;
}

.little-title {
    text-align: center;
    font-size: 20px;
}

ul {
    padding-inline-start: 0px;
}

.button {
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 25%;
    padding: 8px;
    border: 1px solid #3b3c40;
    margin-top: 7%;
    background-color: #3b3c40;
}

@media screen and (max-width: 800px) {
    .container {
        display: inline-block;
        width: 78%;
        margin: 0 auto;
    }

    .button {
        width: 35%
    }
}